.info-panel {
  background-color: var(--info-panel-bg);
  width: 22%;
  padding: 0 3rem;
}

.info-panel__main-heading {
  font-family: 'Mynerve';
  font-size: 8rem;
  margin: 5rem auto 1rem auto;
  /* margin-top: 5rem; */
  width: max-content;
  letter-spacing: -7px;
}

.info-panel__description {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 5rem;
  font-family: var(--description-font);

  text-align: center;
}

.info-panel__upload-form {
  margin: 0 auto;
  padding: 1.5rem 0;
  border: 1.5px dashed var(--nav-text-color);
  border: 1.5px dashed var(--text-color-dark);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

input[type='file'] {
  display: none;
}

.info-panel__upload-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.info-panel__upload-btn {
  all: unset;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s;
}

.info-panel__upload-btn:hover {
  transform: scale(1.1);
}
.info-panel__upload-btn:active {
  transform: scale(1);
}
