.nav {
  background-color: var(--nav-bg);
  height: 10%;
  color: var(--nav-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__script,
.nav__diagram {
  margin: 0 2rem;
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.nav__script:hover,
.nav__diagram:hover {
  border-bottom: 1px solid var(--nav-text-color);
}

.nav__active-tab {
  border-bottom: 1px solid var(--nav-text-color);
}
